<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>判断设备类型及获取位置信息.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD6B368D1D2CF0220059C95E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD6B36A61D2CF0220059C95E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD6B36B11D2CF0230059C95E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
